#panel-01.loaded {
    animation: panel01-loaded 1s ease-out;
}

#panel-02.loaded {
    animation: panel02-loaded 1s ease-out;
}

@keyframes panel01-loaded {
    from {transform: translate(-50%); opacity: 0;}
    to {transform: translate(0); opacity: 1;}
}

@keyframes panel02-loaded {
    from {transform: translate(100%); opacity: 0;}
    to {transform: translate(50%); opacity: 1;}
}

